<a href="https://colab.research.google.com/github/Udayan701/Password_Generator/blob/main/Handling_categorical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([['green', 'M', 10.1, 'class2'],
['red', 'L', 13.5, 'class1'],
['blue', 'XL', 15.3, 'class2']])

In [4]:
df.columns = ['color', 'size', 'price', 'Label']

In [5]:
df

   color size  price   Label
0  green    M   10.1  class2
1    red    L   13.5  class1
2   blue   XL   15.3  class2

In [7]:
size_mapping = {'XL' : 2, 'L': 1, 'M': 0}

In [9]:
df['size'] = df['size'].map(size_mapping)

In [10]:
df

   color  size  price   Label
0  green     0   10.1  class2
1    red     1   13.5  class1
2   blue     2   15.3  class2

In [11]:
inv_size_mapping = {v: k for k, v in size_mapping.items()}

In [12]:
df['size'].map(inv_size_mapping)

0     M
1     L
2    XL
Name: size, dtype: object